/* Media Queries Mixin
**********************/
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  letter-spacing: 0;
  background-color: #37383C;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main--section {
  width: 100%;
}

.header {
  border-top: 5px solid #000000;
  width: 100%;
  height: 90px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #37383C;
  z-index: 190;
  max-width: 1440px;
}
.header__logo {
  cursor: pointer;
  width: 59px;
  height: 59px;
  font-size: 18px;
  margin: 18px 40.8% 12px 10.8%;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu {
  display: flex;
  margin: 36px 0 38px 0;
}
.header__menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 22px;
}
.header__menu ul li {
  list-style: none;
  margin-right: 50px;
  height: 22px;
}
.header__menu ul li a {
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8125em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.header__menu ul li a:hover {
  display: inline-block;
  height: 20px;
  border-bottom: 1px solid #50e3c2;
}
.header__add {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: grid;
  place-items: center;
  margin: 18px 10.8% 18px 10px;
}
.header__add i {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #fff;
}
.header__add:hover {
  background-color: #fff;
}
.header__add:hover i {
  color: #37383C;
}

.scroll-header {
  box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
}

@media only screen and (max-width: 1200px) {
  .header {
    justify-content: space-between;
  }
  .header__logo {
    margin-right: 10%;
  }
  .header__logo__menu a {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 768px) {
  .header__logo {
    margin-right: 10%;
    margin-left: 5%;
  }
  .header__logo__menu li {
    margin-right: 20px;
  }
  .header__add {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    height: 95px;
    width: 100%;
    position: fixed;
  }
  .header__logo {
    width: 48.8px;
    height: 48.8px;
    margin: 29px 68.4% 17.2px 22px;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .header__menu {
    display: none;
    position: absolute;
    margin: 0;
    top: 90px;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    opacity: 0.9;
    padding-top: 17px;
  }
  .header__menu ul {
    text-align: center;
    display: block;
    width: 100%;
  }
  .header__menu ul li {
    margin: 0;
    height: 60px;
  }
  .header__menu ul li a {
    color: #fff;
    font-size: 0.9375em;
    line-height: 60px;
    font-weight: 700;
  }
  .header__menu ul li span {
    display: block;
    width: 10%;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
  }
  .header__add {
    margin: 0;
    position: absolute;
    top: 47px;
    right: 26px;
    height: 15px;
    width: 14px;
    border: none;
    background-color: #37383C;
  }
  .header__add i {
    width: 100%;
    height: 100%;
    color: #fff;
  }
}
.show-menu {
  display: block;
}

.main {
  margin-top: 166px;
}
.main__title {
  width: 64.9%;
  height: 100px;
  margin: 0px auto;
  margin-bottom: 0;
  text-align: center;
}
.main__title h1 {
  margin: 0 18%;
  font-size: 2.1875em;
  font-weight: bold;
  color: #fff;
}
.main__title h1 span {
  color: #50e3c2;
}
.main__image {
  width: 27.7%;
  height: 190px;
  margin: 24px auto;
  margin-bottom: 0;
}
.main__image img {
  width: 100%;
  height: 100%;
}
.main__search {
  position: relative;
  width: 38.3%;
  height: 50px;
  margin: 0 auto;
  border-radius: 27px;
  border: 1px solid #fff;
}
.main__search input {
  margin: 0 10%;
  height: 100%;
  width: 80%;
  border: none;
  background-color: #37383C;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.main__search input::placeholder {
  color: #9CAFC3;
}
.main__search i {
  position: absolute;
  bottom: 15px;
  height: 20px;
  width: 20px;
}
.main__search .icon-left {
  display: none;
  left: 20px;
  color: #9CAFC3;
}
.main__search .icon-right {
  right: 20px;
  color: #fff;
}
.main p {
  margin: 0;
  line-height: 25px;
  text-align: center;
  margin-top: 73px;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.main p span {
  font-size: 1.125em;
  margin-bottom: 7px;
  font-weight: 700;
}

@media only screen and (max-width: 1200px) {
  .main__image {
    height: 150px;
  }
  .main__title h1 {
    margin: 0;
    font-size: 1.5625em;
  }
  .main__search {
    width: 50%;
    height: 40px;
  }
  .main__search i {
    bottom: 18px;
    height: 10px;
    width: 10px;
    font-size: 14px;
  }
  .main p {
    font-size: 0.8125em;
  }
  .main p span {
    font-size: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .main__image {
    height: 100px;
  }
}
@media only screen and (max-width: 500px) {
  .main__title {
    width: 76.3%;
    height: 99px;
    margin-top: 7px;
  }
  .main__title h1 {
    margin: 0;
    font-size: 1.5625em;
    line-height: 33px;
  }
  .main__image {
    margin-top: 35.1px;
    width: 72.8%;
    height: 130px;
  }
  .main__search {
    width: 89.1%;
    height: 50px;
  }
  .main__search i {
    bottom: 10px;
    width: 20px;
    height: 20px;
  }
  .main__search .icon-left {
    left: 20px;
  }
  .main__search .icon-right {
    right: 20px;
  }
  .main p {
    margin-top: 31px;
    padding: 0 25%;
    font-size: 0.875em;
  }
  .main p span {
    margin-bottom: 2px;
    font-size: 1em;
  }
}
.trending {
  position: relative;
  margin-top: 95px;
  width: 100%;
  height: 640px;
  background-color: #222326;
  padding-top: 67px;
}
.trending h3, .trending p {
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 1.5625em;
  color: #fff;
}
.trending p {
  margin: 12px 0 0 0;
  font-size: 1.125em;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.trending i {
  color: #572EE5;
}
.trending__back, .trending__next {
  cursor: pointer;
  display: grid;
  place-items: center;
  position: absolute;
  top: 302px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}
.trending__back i, .trending__next i {
  color: #fff;
}
.trending__next i {
  color: #fff;
}
.trending__back, .trending__next {
  right: 6%;
}
.trending__next {
  left: 6%;
}
.trending__container {
  position: relative;
  width: 79%;
  height: 275px;
  margin: 53px auto;
  margin-bottom: 0;
  display: flex;
  overflow: hidden;
}
.trending__gifos {
  position: relative;
  left: 0;
  height: 100%;
  display: flex;
  grid-column-gap: 2vw;
}
.trending__gifos .item {
  position: relative;
  display: flex;
  width: 24.5vw;
  max-width: 357px;
  height: 100%;
}
.trending__gifos .item img {
  width: 100%;
  height: 100%;
}
.trending__gifos .item .selected {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #572EE5;
  opacity: 0.6;
}
.trending__gifos .item .like, .trending__gifos .item .expand, .trending__gifos .item .download {
  cursor: pointer;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  position: absolute;
  top: 10px;
  background-color: #fff;
  z-index: 2;
}
.trending__gifos .item .like, .trending__gifos .item .expand, .trending__gifos .item .download {
  right: 94px;
}
.trending__gifos .item .download {
  right: 52px;
}
.trending__gifos .item .expand {
  right: 10px;
}
.trending__gifos .item .gif-title {
  width: 97%;
  margin: 0 auto;
  position: absolute;
  bottom: 51px;
  left: 18.5px;
}
.trending__gifos .item .gif-title span {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #fff;
  opacity: 0.6;
}
.trending__gifos .item .gif-title .user {
  font-size: 0.9375em;
}
.trending__gifos .item .gif-title .title {
  margin-top: 6px;
  font-size: 1em;
}
.trending__gifos i {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.trending__next:hover {
  background-color: #fff;
}
.trending__next:hover i {
  color: #222326;
}
.trending__back:hover, .trending__next:hover {
  background-color: #fff;
}
.trending__back:hover i, .trending__next:hover i {
  color: #222326;
}

@media only screen and (max-width: 1200px) {
  .trending {
    margin-top: 45px;
    padding-top: 46px;
  }
  .trending h3, .trending p {
    font-size: 1.125em;
  }
  .trending p {
    font-size: 1em;
  }
  .trending__back, .trending__next {
    right: 3%;
    width: 30px;
    height: 30px;
  }
  .trending__next {
    left: 3%;
    width: 30px;
    height: 30px;
  }
  .trending__container {
    width: 85%;
  }
  .trending__gifos {
    grid-column-gap: 2vw;
  }
  .trending__gifos .item {
    width: 27vw;
  }
  .trending__gifos .item .like, .trending__gifos .item .download, .trending__gifos .item .expand {
    height: 25px;
    width: 25px;
    right: 86px;
  }
  .trending__gifos .item .download {
    right: 48px;
  }
  .trending__gifos .item .expand {
    right: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .trending {
    height: 430px;
  }
  .trending h3, .trending p {
    font-size: 1.25em;
    line-height: 30px;
  }
  .trending p {
    width: 88.8%;
    margin: 0 auto;
    margin-top: 7px;
    padding: 0 30px 0 30px;
    font-size: 1em;
    line-height: 23px;
  }
  .trending__back, .trending__next {
    display: none;
  }
  .trending__container {
    margin-top: 32px;
    width: 90%;
  }
  .trending__gifos {
    grid-column-gap: 3vw;
  }
  .trending__gifos .item {
    width: 43vw;
  }
}
@media only screen and (max-width: 500px) {
  .trending__container {
    width: 95%;
  }
  .trending__gifos .item {
    width: 64vw;
    height: 187px;
  }
  .trending__gifos .item .gif-title {
    bottom: 6px;
    left: 12px;
  }
  .trending__gifos .item .gif-title .user {
    font-size: 0.9375em;
    font-size: 0.9375em;
  }
  .trending__gifos .item .gif-title .title {
    height: 40px;
    margin-top: 5px;
    font-size: 1em;
  }
}