/* Media Queries Mixin
**********************/
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  letter-spacing: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main--section {
  width: 100%;
}

.header {
  border-top: 5px solid #572ee5;
  width: 100%;
  height: 90px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 190;
  max-width: 1440px;
}
.header__logo {
  cursor: pointer;
  width: 59px;
  height: 59px;
  font-size: 18px;
  margin: 18px 40.8% 12px 10.8%;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu {
  display: flex;
  margin: 36px 0 38px 0;
}
.header__menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 22px;
}
.header__menu ul li {
  list-style: none;
  margin-right: 40px;
  height: 22px;
}
.header__menu ul li a {
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8125em;
  color: #572ee5;
  text-transform: uppercase;
  font-weight: 700;
}
.header__menu ul li a:hover {
  display: inline-block;
  height: 20px;
  border-bottom: 3px solid #50e3c2;
}
.header__add {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #572ee5;
  display: grid;
  place-items: center;
  margin: 18px 10.8% 18px 10px;
  background-color: #fff;
}
.header__add i {
  color: #572ee5;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.header__add:hover {
  background-color: #572ee5;
}
.header__add:hover i {
  color: #fff;
}

.scroll-header {
  box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
}

@media only screen and (max-width: 1200px) {
  .header {
    justify-content: space-between;
  }
  .header__logo {
    margin-right: 25%;
  }
  .header__logo__menu a {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 768px) {
  .header__logo {
    margin-right: 10%;
    margin-left: 5%;
  }
  .header__logo__menu li {
    margin-right: 20px;
  }
  .header__add {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    height: 95px;
    width: 100%;
    position: fixed;
  }
  .header__logo {
    width: 48.8px;
    height: 48.8px;
    margin: 29px 68.4% 17.2px 22px;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .header__menu {
    display: none;
    position: absolute;
    margin: 0;
    top: 90px;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: #572ee5;
    opacity: 0.9;
    padding-top: 17px;
  }
  .header__menu ul {
    text-align: center;
    display: block;
    width: 100%;
  }
  .header__menu ul li {
    display: block;
    margin: 0;
    height: 60px;
  }
  .header__menu ul li a {
    color: #fff;
    font-size: 0.9375em;
    line-height: 60px;
    font-weight: 700;
  }
  .header__menu ul li span {
    display: block;
    width: 10%;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
  }
  .header__add {
    margin: 0;
    position: absolute;
    top: 47px;
    right: 26px;
    height: 15px;
    width: 14px;
    border: none;
  }
  .header__add i {
    width: 100%;
    height: 100%;
  }
}
.show-menu {
  display: block;
}

.main {
  margin-top: 166px;
}
.main__title {
  width: 64.9%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
}
.main__title h1 {
  margin: 0 18%;
  font-size: 2.1875em;
  font-weight: bold;
  color: #572ee5;
}
.main__title h1 span {
  color: #50e3c2;
}
.main__image {
  width: 27.7%;
  height: 190px;
  margin: 24px auto;
  margin-bottom: 0;
}
.main__image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.main__search {
  position: relative;
  width: 38.3%;
  min-height: 50px;
  margin: 0 auto;
  border-radius: 27px;
  border: 1px solid #572ee5;
}
.main__search input {
  font-size: 1em;
  padding: 5px;
  margin: 0 10%;
  height: 50px;
  width: 80%;
  border: none;
  font-family: "Roboto", sans-serif;
  outline: none;
}
.main__search input::placeholder {
  color: #9CAFC3;
}
.main__search i {
  position: absolute;
  top: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.main__search--margin {
  height: 1px;
  width: 95%;
  margin: 0 auto;
  background-color: #9CAFC3;
}
.main__search--suggestions {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 14px 23px 18px 23px;
}
.main__search--suggestions li {
  cursor: pointer;
  display: flex;
  font-size: 1em;
  color: #9CAFC3;
  font-family: "Roboto", sans-serif;
  height: 32px;
  align-items: center;
  width: 100%;
}
.main__search--suggestions li:hover {
  background-color: rgba(156, 175, 195, 0.2);
}
.main__search--suggestions i {
  display: block;
  position: relative;
  top: 0;
  color: #9CAFC3;
  width: 15px;
  height: 15px;
  margin-right: 14.6px;
}
.main__search .icon-left {
  display: none;
  left: 20px;
  color: #9CAFC3;
}
.main__search .icon-right, .main__search .icon-right-close {
  right: 20px;
  color: #572ee5;
}
.main__search .hidden {
  display: none;
}
.main p {
  margin: 0;
  line-height: 25px;
  text-align: center;
  margin-top: 73px;
  font-size: 1em;
  color: #572ee5;
  font-weight: 500;
}
.main p span {
  font-size: 1.125em;
  margin-bottom: 7px;
  font-weight: 700;
}

@media only screen and (max-width: 1200px) {
  .main__image {
    height: 150px;
  }
  .main__title h1 {
    margin: 0;
    font-size: 1.5625em;
  }
  .main__search {
    width: 50%;
    height: 40px;
  }
  .main__search i {
    bottom: 18px;
    height: 10px;
    width: 10px;
    font-size: 14px;
  }
  .main p {
    font-size: 0.8125em;
  }
  .main p span {
    font-size: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .main__image {
    height: 100px;
  }
}
@media only screen and (max-width: 500px) {
  .main__title {
    width: 76.3%;
    height: 99px;
    margin-top: 7px;
  }
  .main__title h1 {
    margin: 0;
    font-size: 1.5625em;
    line-height: 33px;
  }
  .main__image {
    margin-top: 35.1px;
    width: 72.8%;
    height: 130px;
  }
  .main__search {
    width: 89.1%;
    height: 50px;
  }
  .main__search i {
    bottom: 10px;
    width: 20px;
    height: 20px;
  }
  .main__search .icon-left {
    left: 20px;
  }
  .main__search .icon-right, .main__search .icon-right-close {
    right: 20px;
  }
  .main p {
    margin-top: 31px;
    padding: 0 25%;
    font-size: 0.875em;
  }
  .main p span {
    margin-bottom: 2px;
    font-size: 1em;
  }
}
.search-result {
  margin-top: 74px;
  padding-bottom: 54px;
}
.search-result__margin {
  width: 23.5%;
  height: 1px;
  background-color: #9CAFC3;
  margin: 0 auto;
}
.search-result__title {
  margin: 83.9px 0 0 0;
  text-align: center;
  color: #572ee5;
  line-height: 30px;
  font-size: 1.875em;
}
.search-result__wrong {
  width: 100%;
}
.search-result__wrong--image {
  width: 10.4%;
  display: flex;
  height: 150px;
  margin: 0 auto;
  margin-top: 109px;
}
.search-result__wrong p {
  margin: 29px 0 0 0;
  text-align: center;
  line-height: 25px;
  font-size: 1.5625em;
  color: #50e3c2;
}

@media only screen and (max-width: 1200px) {
  .search-result__margin {
    width: 35%;
  }
  .search-result__title {
    margin: 55px;
    font-size: 1.5625em;
  }
  .search-result__wrong--image {
    width: 12%;
    margin-top: 75px;
  }
  .search-result__wrong p {
    font-size: 1.125em;
  }
}
@media only screen and (max-width: 768px) {
  .search-result {
    padding-bottom: 33px;
  }
  .search-result__margin {
    width: 42%;
  }
  .search-result__wrong--image {
    margin-top: 40px;
    width: 15%;
  }
}
@media only screen and (max-width: 500px) {
  .search-result__margin {
    margin-top: 35px;
  }
  .search-result__title {
    margin-top: 43px;
    font-size: 1.25em;
    line-height: 40px;
  }
  .search-result__wrong--image {
    margin-top: 35px;
    width: 20%;
  }
  .search-result__wrong p {
    font-size: 1em;
  }
}
.trending {
  position: relative;
  margin-top: 95px;
  width: 100%;
  height: 640px;
  background-color: #F3F5F8;
  padding-top: 67px;
}
.trending h3, .trending p {
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 1.5625em;
  color: #572ee5;
}
.trending p {
  margin: 12px 0 0 0;
  font-size: 1.125em;
  color: #000;
  font-family: "Roboto", sans-serif;
}
.trending i {
  color: #572ee5;
}
.trending__back {
  cursor: pointer;
  display: grid;
  place-items: center;
  position: absolute;
  top: 302px;
  width: 40px;
  height: 40px;
  border: 1px solid #572ee5;
  right: 6%;
}
.trending__next {
  cursor: pointer;
  display: grid;
  place-items: center;
  position: absolute;
  top: 302px;
  width: 40px;
  height: 40px;
  border: 1px solid #572ee5;
  left: 6%;
}
.trending__container {
  width: 79%;
  height: 275px;
  margin: 53px auto;
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 1%;
}
.trending__gifos {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  left: 0;
  height: 100%;
}
.trending__gifos .item {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  width: 24.5vw;
  height: 100%;
}
.trending__gifos .item img {
  width: 100%;
  height: 100%;
}
.trending__gifos .item .selected {
  display: none;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #572ee5;
  opacity: 0.6;
}
.trending__gifos .item .like, .trending__gifos .item .expand, .trending__gifos .item .download {
  display: none;
  cursor: pointer;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  position: absolute;
  top: 10px;
  background-color: #fff;
  z-index: 2;
}
.trending__gifos .item .like, .trending__gifos .item .expand, .trending__gifos .item .download {
  right: 94px;
}
.trending__gifos .item .download {
  right: 52px;
}
.trending__gifos .item .expand {
  right: 10px;
}
.trending__gifos .item .gif-title {
  display: none;
  width: 97%;
  margin: 0 auto;
  position: absolute;
  bottom: 51px;
  left: 18.5px;
}
.trending__gifos .item .gif-title span {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #fff;
  opacity: 0.6;
}
.trending__gifos .item .gif-title .user {
  font-size: 0.9375em;
}
.trending__gifos .item .gif-title .title {
  margin-top: 6px;
  font-size: 1em;
}
.trending__gifos i {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.trending__next:hover {
  background-color: #572ee5;
}
.trending__next:hover i {
  color: #fff;
}
.trending__back:hover {
  background-color: #572ee5;
}
.trending__back:hover i {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .trending {
    margin-top: 45px;
    padding-top: 46px;
  }
  .trending h3, .trending p {
    font-size: 1.125em;
  }
  .trending p {
    font-size: 1em;
  }
  .trending__back {
    right: 3%;
    width: 30px;
    height: 30px;
  }
  .trending__next {
    left: 3%;
    width: 30px;
    height: 30px;
  }
  .trending__container {
    width: 85%;
  }
  .trending__gifos .item .like, .trending__gifos .item .download, .trending__gifos .item .expand {
    height: 25px;
    width: 25px;
    right: 86px;
  }
  .trending__gifos .item .download {
    right: 48px;
  }
  .trending__gifos .item .expand {
    right: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .trending {
    height: 430px;
  }
  .trending__container {
    width: 95%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .trending__container ::-webkit-scrollbar {
    display: none;
  }
  .trending h3, .trending p {
    font-size: 1.25em;
    line-height: 30px;
  }
  .trending p {
    width: 88.8%;
    margin: 0 auto;
    margin-top: 7px;
    padding: 0 30px 0 30px;
    font-size: 1em;
    line-height: 23px;
  }
  .trending__back {
    display: none;
  }
  .trending__next {
    display: none;
  }
  .trending__container {
    margin-top: 32px;
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .trending__gifos .item {
    height: 187px;
  }
  .trending__gifos .item .gif-title {
    bottom: 6px;
    left: 12px;
  }
  .trending__gifos .item .gif-title .user {
    font-size: 0.9375em;
    font-size: 0.9375em;
  }
  .trending__gifos .item .gif-title .title {
    height: 40px;
    margin-top: 5px;
    font-size: 1em;
  }
}
.footer {
  border-bottom: 5px solid #572ee5;
  width: 100%;
  display: flex;
  height: 116px;
  padding: 49.5px 10.8% 51.4px 10.8%;
  justify-content: space-between;
}
.footer__social-media {
  display: flex;
}
.footer__social-media p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
  margin-right: 17px;
}
.footer__social-media i {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 19px;
  color: #CDD6E0;
}
.footer__social-media i:hover {
  color: #572ee5;
}
.footer__reserved-right p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-left: 5%;
    padding-right: 5%;
  }
  .footer__social-media p {
    font-size: 0.9375em;
  }
  .footer__reserved-right p {
    line-height: 20px;
    font-size: 0.875em;
  }
}
@media only screen and (max-width: 500px) {
  .footer {
    text-align: center;
    padding: 47px 0 28px 0;
    height: 196px;
    display: block;
  }
  .footer__social-media {
    display: block;
  }
  .footer__social-media p {
    margin-bottom: 24px;
  }
  .footer__reserved-right {
    margin-top: 47.8px;
  }
}
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*@keyframes animationOut {*/
@keyframes modalOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}
.overlay {
  display: none;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
}
.overlay .modal {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.overlay .modal__close {
  cursor: pointer;
  position: absolute;
  width: 15.2px;
  height: 15.2px;
  color: #572ee5;
  top: 8.6%;
  right: 19.3%;
  font-size: 22px;
}
.overlay .modal__back {
  position: absolute;
  cursor: pointer;
  display: grid;
  place-items: center;
  position: absolute;
  border: 1px solid #572ee5;
  color: #572ee5;
  width: 40px;
  height: 40px;
  top: 43.4%;
  left: 20%;
}
.overlay .modal__next {
  position: absolute;
  cursor: pointer;
  display: grid;
  place-items: center;
  position: absolute;
  border: 1px solid #572ee5;
  color: #572ee5;
  width: 40px;
  height: 40px;
  top: 43.4%;
  right: 20%;
}
.overlay .modal img {
  position: absolute;
  width: 48.3%;
  height: 50.1%;
  margin: 0 auto;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.overlay .modal__next:hover {
  background-color: #572ee5;
}
.overlay .modal__next:hover i {
  color: #fff;
}
.overlay .modal__back:hover {
  background-color: #572ee5;
}
.overlay .modal__back:hover i {
  color: #fff;
}
.overlay .modal__information {
  position: absolute;
  width: auto;
  top: 75%;
  left: 26%;
  margin-top: 27px;
}
.overlay .modal__information p {
  margin: 0;
}
.overlay .modal__information--user {
  display: block;
  font-size: 0.9375em;
  font-family: "Roboto", sans-serif;
}
.overlay .modal__information--title {
  margin-top: 6px;
  display: block;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}
.overlay .modal__media {
  margin-top: 27px;
  position: absolute;
  display: flex;
  top: 75%;
  right: 26%;
}
.overlay .modal__media--like, .overlay .modal__media--download {
  cursor: pointer;
  display: grid;
  place-items: center;
  margin-left: 21px;
  width: 36px;
  height: 36px;
  border: 1px solid #ced7e1;
  border-radius: 6px;
  border-radius: 6px;
  color: #572ee5;
}
@media only screen and (max-width: 1200px) {
  .overlay .modal__close {
    right: 7.5%;
  }
  .overlay .modal__back {
    left: 5%;
  }
  .overlay .modal__next {
    right: 5%;
  }
  .overlay .modal img {
    width: 70%;
  }
  .overlay .modal__information {
    left: 16%;
  }
  .overlay .modal__media {
    right: 16%;
  }
}
@media only screen and (max-width: 500px) {
  .overlay .modal__close {
    top: 59px;
    right: 9.1%;
  }
  .overlay .modal__back {
    display: none;
  }
  .overlay .modal__next {
    display: none;
  }
  .overlay .modal img {
    width: 84.8%;
    height: 42%;
  }
  .overlay .modal__information {
    margin-top: 14px;
    left: 9.3%;
    top: 70%;
    width: 35%;
  }
  .overlay .modal__information--user {
    font-size: 0.9375em;
  }
  .overlay .modal__information--title {
    font-size: 1em;
  }
  .overlay .modal__media {
    right: 7.7%;
    top: 70%;
  }
  .overlay .modal__media--like, .overlay .modal__media--download {
    width: 36px;
    height: 36px;
    margin-left: 16px;
  }
}