.my-favorities {
  margin-top: 106px;
  text-align: center;
  .hidden{
    display: none;
  }
  img {
    margin-top: 11px;
    width: 28px;
    height: 21px;
  }
  h2 {
    margin: 8px 0 0 0;
    font-size: $small-subTitle-font-size-desktop;
    color: $primary-color;
    line-height: 30px;
  }
  &__empty {
    display: none;
    img {
      margin-top: 109.3px;
      width: 150px;
      height: 151px;
    }
    p {
      margin: 23px auto;
      margin-bottom: 0;
      color: $secundary-color;
      font-size: 1.375em;
      line-height: 33px;
      width: 431px;
      height: 66px;
    }
  }

  &__result {
    // display: none;
    margin: 0 auto;
    width: 80%;
    @include display-grid;
    @include grid-template-columns(repeat(4, 1fr));
    grid-gap: 29px;
    margin-bottom: 78px;
    margin-top: 36px;
    &--item {
      i {
        color: #572ee5;
      }
      position: relative;
      height: 200px;
      &--selected {
        top: 0;
        display: none;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: #572EE5;
        opacity: 0.6;
      }
      &--like,
      &--download,
      &--expand {
        display: none;
        cursor: pointer;
        opacity: 0.7;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        position: absolute;
        top: 10px;
        background-color: $primary-color;
        z-index: 2;
      }
      &--like {
        right: 94px;
      }
      &--download {
        right: 52px;
      }
      &--expand {
        right: 10px;
      }
      &--gif-title {
        display: none;
        width: 90%;
        margin: 0 auto;
        position: absolute;
        top: 132px;
        left: 13px;
        text-align: start;
        span {
          display: block;
          font-family: $secondary-font-family;
          color: $primary-color;
          font-size: 1em;
          opacity: .6;
        }
      }
      img {
        margin: 0;
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
  }
  button {
    display: none;
    cursor: pointer;
    text-align: center;
    font-size: $small-font-size-desktop;

    width: 127px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid $primary-color;
    font-family: $secondary-font-family;
    color: $primary-color;
    background-color: $light-color;
    font-weight: bold;
    outline: none;
  }
  button:hover {
    background-color: $primary-color;
    color: $light-color;
  }
}

@include media(desktop-m) {
  .my-favorities {
    &__empty {
      p {
        font-size: $normal-font-size-desktop;
      }
    }
    &__result {
      width: 90%;

    }
  }
}

@include media(tablet) {
  .my-favorities {
    img {
    }
    h2 {
    }
    &__empty {
      img {
      }
      p {
      }
    }
    &__result {
      @include grid-template-columns(repeat(3, 1fr));
    }
  }
}
@include media(mobile) {
  .my-favorities {
    img {
      font-size: $small-subTitle-font-size-mobile;
    }

    &__empty {
      img {
        margin-top: 46px;
      }
    }
    &__result {
      @include grid-template-columns(repeat(2, 1fr));
      grid-gap: 21px;
      &--item {
        position: relative;
        height: 120px;
      }
    }
  }
}
