

.header {
  border-top: 5px solid #000000;;
  width: 100%;
  height: 90px;
  display: flex;
  position: fixed;
  top: 0;
  background-color:  #37383C;
  z-index: 190;
  max-width: 1440px;
  &__logo {
    cursor: pointer;
    width: 59px;
    height: 59px;
    font-size: 18px;
    margin: 18px 40.8% 12px 10.8%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__menu {
    display: flex;
    margin: 36px 0 38px 0;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      height: 22px;
      li {
        list-style: none;
        margin-right: 50px;
        height: 22px;
        a {
          cursor: pointer;
          text-decoration: none;
          font-size: $small-font-size-desktop;
          color: $primary-color;
          text-transform: uppercase;
          font-weight: 700;
        }
        a:hover{
          display: inline-block;
          height: 20px;
          border-bottom: 3px solid #50e3c2;
        }
      }
    }
  }
  &__add {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid $primary-color;
    display: grid;
    place-items: center;
    margin: 18px 10.8% 18px 10px;
    i {
      width: 16px;
      height: 16px;
      cursor: pointer;
      color: $primary-color;
    }
  }
  &__add:hover {
    background-color: $primary-color;
    i{
      color: #37383C;
    }
  }
}
.scroll-header{
  box-shadow: 0 2px 4px 1px rgba(156,175,195,0.55);
}



@include media(desktop-m) {
  .header {
    justify-content: space-between;
    &__logo {
      margin-right: 10%;
      &__menu {
        a {
          font-size: 0.75em;
        }
      }
    }
  }
}

@include media(tablet) {
  .header {
    &__logo {
      margin-right: 10%;
      margin-left: 5%;
      &__menu {
        li {
          margin-right: 20px;
        }
        a:hover{
          border-bottom: 0px solid #50e3c2;

        }
      }
    }
    &__add {
      margin-right: 5%;
    }
  }
}

@include media(mobile) {
  .header {
    height: 95px;
    width: 100%;
    position: fixed;
    &__logo{
      width: 48.8px;
      height: 48.8px;
      margin: 29px 68.4% 17.2px 22px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &__menu{
      display: none;
      position: absolute;
      margin: 0;
      top: 90px;
      z-index: 100;
      height: 100vh;
      width: 100%;
      background-color: #000000;
      opacity: .9;
      padding-top: 17px;
      ul{
        text-align: center;
        display: block;
        width: 100%;
        li{
          margin: 0;
          height: 60px;
          a{
            color: $light-color;
            font-size: $medium-font-size-mobile;
            line-height: 60px;
            font-weight: 700;
          }
          span {
            display: block;
            width: 10%;
            height: 1px;
            background-color: $primary-color;
            margin: 0 auto;
          }
        }
      }
    }
    &__add{
      margin: 0;
      position: absolute;
      top: 47px;
      right: 26px;
      height: 15px;
      width: 14px;
      border: none;
      background-color: #37383C;;
      i{
        width: 100%;
        height: 100%;
        color: $primary-color;
      }
    }
    &__add:hover {
      background-color:  #37383C;
      i{
        color: $primary-color;
      }
    }
  }
}

.show-menu{
  display: block;
}

