@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*@keyframes animationOut {*/
@keyframes modalOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}

.overlay {
  // background: rgba(0,0,0,.1);
  background-color: $background-color;
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  .modal {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background-color: $background-color;
    margin: 0 auto;
    &__close {
      cursor: pointer;
      position: absolute;
      width: 15.2px;
      height: 15.2px;
      color: $primary-color;
      top: 8.6%;
      right: 19.3%;
      font-size: 22px;
    }
    &__back {
      position: absolute;
      cursor: pointer;
      display: grid;
      place-items: center;
      position: absolute;
      border: 1px solid $primary-color;
      color: $primary-color;
      width: 40px;
      height: 40px;
      top: 43.4%;
      left: 20%;
    }
    &__next {
      position: absolute;
      cursor: pointer;
      display: grid;
      place-items: center;
      position: absolute;
      border: 1px solid $primary-color;
      color: $primary-color;
      width: 40px;
      height: 40px;
      top: 43.4%;
      right: 20%;
    }
    img {
      position: absolute;
      width: 48.3%;
      height: 50.1%;
      margin: 0 auto;
      display: flex;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &__next:hover {
      background-color: $primary-color;
      i {
        color: $background-color;
      }
    }
    &__back:hover {
      background-color: $primary-color;
      i {
        color: $background-color;
      }
    }
    &__information {
      position: absolute;
      width: auto;
      top: 75%;
      left: 26%;
      margin-top: 27px;
      p {
        margin: 0;
        color: $primary-color;
      }
      &--user {
        display: block;
        font-size: 0.9375em;
        font-family: $secondary-font-family;
      }
      &--title {
        margin-top: 6px;
        display: block;
        font-size: $medium-font-size-desktop;
        font-family: $secondary-font-family;
      }
    }
    &__media {
      margin-top: 27px;
      position: absolute;
      display: flex;
      top: 75%;
      right: 26%;

      &--like {
        cursor: pointer;
        display: grid;
        place-items: center;
        margin-left: 21px;
        width: 36px;
        height: 36px;
        border: 1px solid #ced7e1;
        border-radius: 6px;
        border-radius: 6px;
        color: $primary-color;
      }
      &--download {
        @extend .modal__media--like;
      }
    }
  }
}

@include media(desktop-m) {
  .overlay {
    .modal {
      &__close {
        right: 7.5%;
      }
      &__back {
        left: 5%;
      }
      &__next {
        right: 5%;
      }
      img {
        width: 70%;
      }
      &__information {
        left: 16%;
      }
      &__media {
        right: 16%;
      }
    }
  }
}

@include media(mobile) {
  .overlay {
    .modal {
      &__close {
       
        top: 59px;
        right: 9.1%;
      }
      &__back {
        display: none;
      }
      &__next {
        display: none;
      }
      img {
        width: 84.8%;
        height: 42%;
      }
      &__information {
        margin-top: 14px;
        left: 9.3%;
        top: 70%;
        width: 35%;
        &--user {
          font-size: $medium-font-size-mobile;
        }
        &--title {
          font-size: $normal-font-size-mobile;
        }
      }
      &__media {
        right: 7.7%;
        top: 70%;
        &--like{
          width: 36px;
          height: 36px;
          margin-left: 16px;
        }
        &--download{
          @extend .modal__media--like;
        }
      }
    }
  }
}
