.trending {
  position: relative;
  margin-top: 95px;
  width: 100%;
  height: 640px;
  background-color: $background-color;
  padding-top: 67px;
  h3 {
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
    font-size: $small-subTitle-font-size-desktop;
    color: $primary-color;
  }
  p {
    @extend h3;
    margin: 12px 0 0 0;
    font-size: $normal-font-size-desktop;
    color: $primary-color;
    font-family: $secondary-font-family;
  }
  i {
    color: #572EE5;
  }
  &__back {
    cursor: pointer;
    display: grid;
    place-items: center;
    position: absolute;
    top: 302px;
    width: 40px;
    height: 40px;
    border: 1px solid $primary-color;
    i{
      color: $primary-color;
    }
  }
  &__next {
    @extend .trending__back;
    i{
      color: $primary-color;
    }
  }
  &__back {
    right: 6%;
  }
  &__next {
    left: 6%;
  }
  &__container {
    position: relative;
    width: 79%;
    height: 275px;
    margin: 53px auto;
    margin-bottom: 0;
    display: flex;
    overflow: hidden;
  }
  &__gifos {
    position: relative;
    left: 0;
    height: 100%;
    display: flex;
    grid-column-gap: 2vw;
    .item {
      position: relative;
      display: flex;
      width: 24.5vw;
      max-width: 357px;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      .selected {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: #572EE5;
        opacity: 0.6;
      }
      .like {
        cursor: pointer;
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        position: absolute;
        top: 10px;
        background-color: $light-color;
        z-index: 2;
      }
      .like {
        right: 94px;
      }
      .download {
        @extend .like;
        right: 52px;
      }
      .expand {
        @extend .like;
        right: 10px;
      }
      .gif-title{
        width: 97%;
        margin: 0 auto;
        position: absolute;
        bottom: 51px;
        left: 18.5px;
        span{
          display: block;
          font-family: $secondary-font-family;
          color: $primary-color;
          opacity: .6;
        }
        .user{
          font-size: .9375em;
        }
        .title{
          margin-top: 6px;
          font-size: $medium-font-size-desktop;
        }
      }
    }
    i {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }
}

.trending {
  &__next:hover{
    background-color: $primary-color;
    i{
      color: $background-color;
    }
  }
  &__back:hover{
    background-color: $primary-color;
    i{
      color: $background-color;
    }
  }
}

@include media(desktop-m) {
  .trending {
    margin-top: 45px;
    padding-top: 46px;
    h3 {
      font-size: $normal-font-size-desktop;
    }
    p{
      font-size: $medium-font-size-desktop;
    }
    &__back {
      right: 3%;
      width: 30px;
      height: 30px;
    }
    &__next {
      left: 3%;
      width: 30px;
      height: 30px;
    }
    &__container {
      width: 85%;
    }
    &__gifos {
      grid-column-gap: 2vw;
      .item {
        width: 27vw;
        .like {
          height: 25px;
          width: 25px;
          right: 86px;
        }
        .download {
          @extend .like;
          right: 48px;
        }
        .expand {
          @extend .like;
          right: 8px;
        }
      }
    }
  }
}

@include media(tablet) {
  .trending {
    height: 430px;
    h3 {
      font-size: $small-subTitle-font-size-mobile;
      line-height: 30px;
    }
    p{
      width: 88.8%;
      margin: 0 auto;
      margin-top: 7px;
      padding: 0 30px 0 30px;
      font-size: $normal-font-size-mobile;
      line-height: 23px;
    }
    &__back {
      display: none;
    }
    &__next {
      @extend .trending__back;
    }
    &__container {
      margin-top: 32px;
      width: 90%;
    }
    &__gifos {
      grid-column-gap: 3vw;
      .item {
        width: 43vw;
      
      }
    }
  }
}
@include media(mobile) {
  .trending {
    &__container {
      width: 95%;
    }
    &__gifos {
      .item {
        width: 64vw;
        height: 187px;
        .gif-title{
          bottom: 6px;
          left: 12px;
          .user{
            font-size: .9375em;
            font-size: $medium-font-size-mobile;
          }
          .title{
            height: 40px;
            margin-top: 5px;
            font-size: $normal-font-size-mobile;
          }
        }
      }
    }
  }
}